@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>
<p class="lead">
    Mission Site began as an initiative to connect return missionaries with propsective missionaries. Our vision is to enabled newly called missionaries to become more prepared to serve. This is accomplished through a platform whichs connects thousands of individuals with the answers they are looking for. We encourage the participation of all return missionaries in answering questions and offering advice to the Lord’s young full time servants. If you would like to know more please reach out through our contact page.
</p> <hr />
<div class="container container-center">
    <h3>The Team</h3><br />
    <div class="row">
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="~/Content/Images/andrew.png">
            <h4>Andy Schirmer</h4>
            <p>Served in Mexico</p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="~/Content/Images/zach.png">
            <h4>Zach Eddington</h4>
            <p>Served in Brazil</p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="~/Content/Images/kc.jpg">
            <h4>KC Lindelof</h4>
            <p>Served in Oklahoma </p>
        </div>
        <div class="col-md-3">
            <img class="img-responsive img-circle" src="~/Content/Images/rem.png">
            <h4>Remington Rogers</h4>
            <p>Served in Las Vegas</p>
        </div>
    </div>
</div>
