@{
    ViewBag.Title = "Home Page";
}

<!--Call to action, home page has big header and various links to different pages-->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1 id="cta-header">Ready to Change Your Life? &nbsp; @Html.ActionLink("Explore Missions", "Index", "Missions", null, new { @class = "btn btn-danger btn-lg" })</h1>
            </div>
        </div>
    </div>
</section>
<div class="jumbotron main-header text-center">
    <div class="main-header-content">
        <h1>Called To Serve</h1>
        <p class="lead"><em>"There are few times in your lives when you will enjoy the sweet spirit and satisfaction that come from giving full-time service together in the work of the Master."</em>  -<b>Thomas S. Monson</b></p>
    </div>
</div>
<div class="row">
    <iframe class="col-md-6" width="560" height="315" src="https://www.youtube.com/embed/mBsHAJ6U6Mw" frameborder="0" allowfullscreen></iframe>
    <iframe class="col-md-6" width="560" height="315" src="https://www.youtube.com/embed/vTzOWKYNkt8" frameborder="0" allowfullscreen></iframe>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Missions</h2>
        <p>
            There are over 418 LDS church missions. Explore the missions and get answers to all of your questions.
        </p>
        <p>@Html.ActionLink("Missions", "Index", "Missions", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>About</h2>
        <p>
            We are just a group of students who love the lord and his work. All we want is for you to feel the same.
        </p>
        <p>@Html.ActionLink("About Us", "About", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
    <div class="col-md-4">
        <h2>Contact</h2>
        <p>
            You can reach out to us with any questions or concerns. We are available 24/7 and would love to help you out.
        </p>
        <p>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "btn btn-primary btn-lg" })</p>
    </div>
</div>