@model IEnumerable<Project2.Models.Missions>

@{
    ViewBag.Title = "Index";
}

<!--Breadcrumb to display where in url structure the user is at-->
<ul class="breadcrumb">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>Select Mission</li>
</ul>

<!--Create a drop down list with the the missions from the missions database-->
<div class="jumbotron mission-header text-center">
    <div class="dropdown">
        <button class="btn btn-primary btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
            Select a Mission
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <!--loop through each mission and add to dropdown list-->
            @foreach (var item in Model)
            {
                <li>@Html.ActionLink(item.missionName, "FrequentQuestions", "Home", new { MisName = item.missionName }, new { @class = "btn" })</li>
            }
        </ul>
    </div>
</div>
<div class="row">
    <iframe class="col-md-6" width="560" height="315" src="https://www.youtube.com/embed/W0-0nniCz6k" frameborder="0" allowfullscreen></iframe>
    <iframe class="col-md-6" width="560" height="315" src="https://www.youtube.com/embed/PpEhE_scrs4" frameborder="0" allowfullscreen></iframe>
</div>
